<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377673982555-uriqa2o0brdmj1188qbj64ifq702gmoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377673982555-uriqa2o0brdmj1188qbj64ifq702gmoa</string>
	<key>API_KEY</key>
	<string>AIzaSyBEE5PbM2GjuDGhSmS1V-qx1JCZug9IdFg</string>
	<key>GCM_SENDER_ID</key>
	<string>377673982555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FitnessMonkey</string>
	<key>PROJECT_ID</key>
	<string>fitmo-893bc</string>
	<key>STORAGE_BUCKET</key>
	<string>fitmo-893bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377673982555:ios:7f1fee58f83fe06296d57e</string>
	<key>DATABASE_URL</key>
	<string>https://fitmo-893bc.firebaseio.com</string>
</dict>
</plist>